In [2]:
import numpy as np
import scipy.stats as st

In [9]:
# Q11 ANS:
#solution of Q11 using normal distribution under the consideration of large sample.
# z=((bar x-mean)/s/sqrt(n)) is the statistic and as we are finding the 
# confidence interval for mean of the population location parameter will be (S/SQRT(n))
print("94% confidence interval is:")
print(st.norm.interval(0.94,200,(30/(np.sqrt(2000)))))
print(" ")    
print("98% confidence interval is:")
print(st.norm.interval(0.98,200,(30/(np.sqrt(2000)))))
print(" ")  
print("96% confidence interval is:")
print(st.norm.interval(0.96,200,(30/(np.sqrt(2000)))))

94% confidence interval is:
(198.738325292158, 201.261674707842)

98% confidence interval is:
(198.43943840429978, 201.56056159570022)

96% confidence interval is:
(198.62230334813333, 201.37769665186667)

In [17]:
# verified using t statistic also.
print("94% confidence interval is:")
print(st.t.interval(0.94,199,200,(30/(np.sqrt(2000)))))
print(" ")    
print("98% confidence interval is:")
print(st.t.interval(0.98,199,200,(30/(np.sqrt(2000)))))
print('')
print(" ")  
print("96% confidence interval is:")
print(st.t.interval(0.96,199,200,(30/(np.sqrt(2000)))))

94% confidence interval is:
(198.73109273730446, 201.26890726269554)

98% confidence interval is:
(198.4267703924641, 201.5732296075359)


96% confidence interval is:
(198.61321430334644, 201.38678569665356)

In [19]:
import pandas as pd
car=pd.read_csv("Cars.csv")

In [20]:
car

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [22]:
car['MPG']

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [37]:
 #Q20
    #The probability of a) P(MPG>38) 
x=1-st.norm.cdf(38,loc=car['MPG'].mean(), scale=car['MPG'].std()) 
print("The probability of MPG > 38 is :", x)    
print("  ")

The probability of MPG > 38 is : 0.34759392515827137

In [39]:
#The probability of b) P(MPG<40) 
y=st.norm.cdf(40,loc=car['MPG'].mean(), scale=car['MPG'].std()) 
print("The probability of MPG < 40 is :", y)       
print(" ")

The probability of MPG < 40 is : 0.7293498762151609

In [41]:
#The probability of c) P(20<MPG>50) 
z=st.norm.cdf(50,loc=car['MPG'].mean(), scale=car['MPG'].std()) - st.norm.cdf(20,loc=car['MPG'].mean(), scale=car['MPG'].std())
print("The probability of 20 < MPG < 50 is :", z)

The probability of 20 < MPG < 50 is : 0.8988689169682047

In [7]:
#Q23 ANS
print(st.t.ppf(0.05/2,24), " is the t score at 95% confidence interval ")
print(st.t.ppf(0.04/2,24), " is the t score at 96% confidence interval ")
print(st.t.ppf(0.01/2,24), " is the t score at 99% confidence interval ")

-2.063898561628021  is the t score at 95% confidence interval
-2.171544676008068  is the t score at 96% confidence interval
-2.796939504772805  is the t score at 99% confidence interval